.added-symptoms {
  display: flex;
  width: 65%;
  margin: 10px auto;
}

.cancel {
  background: rgba(255, 255, 255, 0.678);

  display: inline-block;
  padding: 5px;
  width: 10px;
  cursor: pointer;
  margin-left: 5px;
  color: black;
  border-radius: 500px;
}
.cancel:hover {
  background: rgba(255, 255, 255, 0.514);
}
.added-symptoms li {
  background: black;
  display: inline-block;
  align-items: center;
  margin: 1%;
  color: white;
  padding: 0 5px !important;
  font-size: 9px;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .added-symptoms {
    display: block !important;
  }

  .added-symptoms li {
    width: 100px;
    margin-right: 2%;
  }
}
